In [9]:
import numpy as np
import pandas as pd

In [10]:
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
            'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                     'Lions', 'Lions'],
            'wins': [11, 8, 10, 15, 11, 6, 10, 4],
            'losses': [5, 8, 6, 1, 5, 10, 6, 12]}

In [11]:
football = pd.DataFrame(data)
football

   losses     team  wins  year
0       5    Bears    11  2010
1       8    Bears     8  2011
2       6    Bears    10  2012
3       1  Packers    15  2011
4       5  Packers    11  2012
5      10    Lions     6  2010
6       6    Lions    10  2011
7      12    Lions     4  2012

In [13]:
# To get the datatypes
football.dtypes

losses     int64
team      object
wins       int64
year       int64
dtype: object

In [14]:
# To take a sneak peek in the dataframe
football.head() # similarly .tail()

   losses     team  wins  year
0       5    Bears    11  2010
1       8    Bears     8  2011
2       6    Bears    10  2012
3       1  Packers    15  2011
4       5  Packers    11  2012

In [15]:
football.describe()

          losses       wins         year
count   8.000000   8.000000     8.000000
mean    6.625000   9.375000  2011.125000
std     3.377975   3.377975     0.834523
min     1.000000   4.000000  2010.000000
25%     5.000000   7.500000  2010.750000
50%     6.000000  10.000000  2011.000000
75%     8.500000  11.000000  2012.000000
max    12.000000  15.000000  2012.000000

In [2]:
from sklearn import datasets
from sklearn import metrics
from sklearn.linear_model import LinearRegression

In [3]:
housing_data = datasets.load_boston()
linear_regression_model = LinearRegression()
linear_regression_model.fit(housing_data.data, housing_data.target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [4]:
predictions = linear_regression_model.predict(housing_data.data)

In [7]:
score = metrics.r2_score(housing_data.target, predictions)
print(score)

0.740607742865